.groundFloor {
	background-color: #ffffff;
	height: 900px;
	width: 1480px;
	padding: 0px;
    border: 10px solid black;
}
.ground {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #000000;
}
.ground52 {
	background-color: #fcfafa;
	height: 112px;
	width: 678px;
	top: 572px;
	left: 340px;
    border: none;
}
.ground50 {
	background-color: #fdf7be;
	height: 140px;
	width: 96px;
	left: 215px;
	top: 572px;
}
.ground19 {
	background-color: #cefaa2;
	height: 152px;
	width: 1249px;
	top: 139px;
	left: 95px;
}
.ground22 {
	background-color: #8153bc;
	height: 80px;
	width: 192px;
	top: 335px;
	left: 163px;
}
.ground51 {
	background-color: rgb(118, 109, 109);
	height: 190px;
	width: 118px;
	top: 335px;
	left: 597px;
}
.ground37 {
	background-color: #000000;
	height: 223px;
	width: 87px;
	top: 335px;
	left: 95px;
}
.ground22 {
	background-color: #8153bc;
	height: 80px;
	width: 192px;
	top: 335px;
	left: 163px;
}
.ground32 {
	background-color: #b4a2fa;
	height: 145px;
	width: 108px;
	top: 417.5px;
	left: 163px;
}
.ground9 {
	background-color: #b4a2fa;
	height: 190px;
	width: 522px;
	top: 335px;
	left: 716px;
}
.ground10 {
	background-color: #000000;
	height: 39px;
	width: 60px;
	top: 487px;
	left: 294.5px;
}
.ground12 {
	background-color: #8153bc;
	height: 132px;
	width: 189px;
	top: 393px;
	left: 1049px;
}
.ground13 {
	background-color: #6b4bc6;
	height: 80.00000762939453px;
	width: 25.000001907348633px;
	transform: rotate(90deg);
	top: 688px;
	left: 328px;
}
.ground14 {
	background-color: #8153bc;
	height: 122px;
	width: 167px;
	top: 646px;
	left: 716px;
}
.ground15 {
	background-color: #8153bc;
	height: 122px;
	width: 142px;
	top: 646px;
	left: 452px;
}
.ground17 {
	background-color: #8153bc;
	height: 190px;
	width: 106px;
	top: 335px;
	left: 488px;
}
.ground24 {
	background-color: #000000;
	height: 118px;
	width: 108px;
	top: 335px;
	left: 1236px;
}
.ground26 {
	background-color: #554f4f;
	height: 87px;
	width: 230px;
	top: 438px;
	left: 816px;
}
.ground27 {
	background-color: #6b4bc6;
	height: 27px;
	width: 99px;
	top: 699px;
	left: 915px;
}
.ground28 {
	background-color: #b4a2fa;
	height: 122px;
	width: 203px;
	top: 646px;
	left: 1141px;
}
.ground61 {
	background-color: #8153bc;
	height: 37px;
	width: 133px;
	top: 646px;
	left: 1211px;
}
.ground29 {
	background-color: #8153bc;
	height: 122px;
	width: 160px;
	top: 646px;
	left: 979px;
}
.ground322 {
	background-color: #999393;
	height: 55px;
	width: 87px;
	top: 562px;
	left: 95px;
}
.ground33 {
	background-color: #999393;
	height: 81px;
	width: 108px;
	top: 444px;
	left: 1236px;
}
.ground36 {
	background-color: #b4a2fa;
	height: 80px;
	width: 155.5px;
	top: 335px;
	left: 330px;
}
.ground39 {
	background-color: #6b4bc6;
	height: 24px;
	width: 89px;
	top: 663px;
	left: 865px;
}
.ground42 {
	background-color: #6b4bc6;
	height: 24px;
	width: 81px;
	top: 527px;
	left: 1263px;
}
.ground45 {
	background-color: #6b4bc6;
	height: 92.00000762939453px;
	width: 25.000003814697266px;
	transform: rotate(90deg);
	top: 529px;
	left: 212.5px;
}
.ground46 {
	background-color: #d9d9d9;
	height: 117px;
	width: 209px;
	top: 651px;
	left: 95px;
}
.ground47 {
	background-color: #6b4bc6;
	height: 114px;
	width: 27px;
	transform: rotate(90deg);
	top: 617px;
	left: 310px;
}
.ground48 {
	background-color: #6b4bc6;
	height: 15px;
	width: 15;
	top: 753px;
	left: 394px;
}
.ground49 {
	background-color: #b4a2fa;
	width: 42px;
	height: 27px;
	top: 590px;
	left: 179px;
}

/* LINES */

.line {
	position: absolute;
	border-top: 2px solid #000000;
}
.line42 {
	width: 74px;
	transform: rotate(90deg);
	top: 480px;
	left: 258px;
}
.line43 {
	width: 81px;
	transform: rotate(-90deg);
	top: 483px;
	left: 418px;
}
.line44 {
	width: 30.740737915039062px;
	transform: rotate(-90deg);
	top: 701.97px;
	left: 368.48px;
}
.line45 {
	width: 163px;
	transform: rotate(0deg);
	top: 444px;
	left: 295px;
}
.line39 {
	width: 98px;
	transform: rotate(0deg);
	top: 770px;
	left: 881px;
}
.line3 {
	width: 47px;
	top: 770px;
	left: 588px;
}
.line46 {
	width: 29.5px;
	transform: rotate(90deg);
	top: 713px;
	left: 931px;
}
.line47 {
	width: 29.5px;
	transform: rotate(90deg);
	top: 714px;
	left: 916px;
}
.line48 {
	width: 29.5px;
	transform: rotate(90deg);
	top: 714px;
	left: 946px;
}
.line49 {
	width: 26.5px;
	transform: rotate(90deg);
	top: 676px;
	left: 869px;
}
.line50 {
	width: 26.5px;
	transform: rotate(90deg);
	top: 676px;
	left: 886px;
}
.line51 {
	width: 26.5px;
	transform: rotate(90deg);
	top: 676px;
	left: 906px;
}
.line52 {
	width: 26.5px;
	transform: rotate(90deg);
	top: 677px;
	left: 925px;
}
.line53 {
	width: 26.5px;
	transform: rotate(90deg);
	top: 540px;
	left: 1317px;
}
.line54 {
	width: 26.5px;
	transform: rotate(90deg);
	top: 539px;
	left: 1301px;
}
.line55 {
	width: 26.5px;
	transform: rotate(90deg);
	top: 541px;
	left: 1284px;
}
.line56 {
	width: 26.5px;
	transform: rotate(90deg);
	top: 541px;
	left: 1267px;
}
.line57 {
	width: 29.5px;
	transform: rotate(90deg);
	top: 675px;
	left: 342px;
}
.line58 {
	width: 26.5px;
	transform: rotate(90deg);
	top: 729px;
	left: 348px;
}
.line59 {
	width: 26.5px;
	transform: rotate(90deg);
	top: 729px;
	left: 329px;
}
.line60 {
	width: 26.5px;
	transform: rotate(90deg);
	top: 729px;
	left: 311px;
}
.line61 {
	width: 26.5px;
	transform: rotate(90deg);
	top: 576px;
	left: 185px;
}
.line62 {
	width: 26.5px;
	transform: rotate(90deg);
	top: 576px;
	left: 203px;
}
.line63 {
	width: 26.5px;
	transform: rotate(90deg);
	top: 575px;
	left: 222px;
}
.line64 {
	width: 26.5px;
	transform: rotate(90deg);
	top: 576px;
	left: 242px;
}
.line65 {
	width: 29.5px;
	transform: rotate(90deg);
	top: 675px;
	left: 318px;
}
.line66 {
	width: 29.5px;
	transform: rotate(90deg);
	top: 675px;
	left: 294px;
}
.line67 {
	width: 29.5px;
	transform: rotate(90deg);
	top: 674px;
	left: 272px;
}
.line7 {
	width: 42px;
	transform: rotate(-90deg);
	top: 639px;
	left: 75px;
}
.line18 {
	width: 47px;
	transform: rotate(0deg);
	top: 770px;
	left: 677px;
}
.line22 {
	width: 191px;
	transform: rotate(0deg);
	top: 770px;
	left: 296px;
}
.line26 {
	width: 108.38292300701141px;
	transform: rotate(90deg);
	top: 600.97px;
	left: 1292.6px;
}
.line28 {
	width: 27px;
	transform: rotate(-91deg);
	top: 703px;
	left: 902px;
}
.line29 {
	width: 128px;
	left: 1343px;
	top: 541px;
}